html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Cosplay";
  src: local("Cosplay"), url(/fonts/CosplayRegular-Web.woff) format("woff"), local("Cosplay"),
    url(/fonts/CosplayRegular-Web.woff2) format("woff2");
}

@keyframes floater {
  0% {
    transform: scale(1) rotate(-5deg);
  }
  100% {
    transform: scale(1.05) rotate(10deg);
  }
}

@keyframes pulser-ccw {
  0% {
    transform: scale(1) rotate(-1deg);
  }
  100% {
    transform: scale(1.025) rotate(2deg);
  }
}

@keyframes pulser-cw {
  0% {
    transform: scale(1) rotate(1deg);
  }
  100% {
    transform: scale(1.025) rotate(-2deg);
  }
}
